<h1 class="traceur-title"><%= @tracer.name %></h1>
<div class="tracer-container">
    <div class="card">
        <%= image_tag @tracer.photo.url %>
        <div class="description">
            <p><%= @tracer.description %></p>
        </div>
        <div class="report-form">
            <h3>Signaler</h3>
        </div>
    </div>
</div>