main {
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.leaflet-marker-icon {
  max-width: 64px;
  max-height: 64px;
}

.article {
  width: 100%;
  max-width: 750px;
  margin: auto;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;

  h1 {
    text-align: center;
  }
}
