// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map {
  height: 100vh;
  width: 100vw;
}

.leaflet-marker-icon {
  max-width: 64px;
  max-height: 64px;
}
