// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map {
  width: 100%;
  height: 100vh;
}

.leaflet-marker-icon {
  max-width: 64px;
  max-height: 64px;
}

.article {
  width: 100%;
  max-width: 750px;
  margin: auto;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;

  h1 {
    text-align: center;
  }
}
