.new-report-button {
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    margin-bottom: 0;
    font-size: 1rem;
    border-radius: 50%;
}

.menu-toggle-button {
    position: fixed;
    bottom: 5vw;
    left: 5vw;
    margin-bottom: 0;
    font-size: 1rem;
}

.menu-toggle-swipe {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
}

.menu-close-button {
    position: absolute;
    color: grey;
    top: 1rem;
    right: 1rem;
}

#menu {

    position: fixed;
    top: 0;
    padding-left: 1rem;
    background-color: inherit;
    h1 {
        font-size: 1.7rem;
        margin: .3rem 0;
    }
    .vertical.menu {
        li {
            padding: .2rem 0;
            a {
                padding-left: 0;
                padding-top: 0;
            }
        }
    }
}
