<h2 class="text-center">Témoignages</h2>
<section class="flex user-reports small-12 medium-10 medium-centered">
  <table class="user-reports__table" data-id=<%= current_user.id %>>
    <thead>
      <th>id</th>
      <th>Traceur</th>
      <th>Quantité</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Description</th>
      <th>Date</th>
      <th>Status</th>
    </thead>
    <tbody>

    </tbody>
  </table>
</section>

<div class="reveal" id="reportEdit" class="report-edit" data-reveal>
  <h1>Modifier le témoignage</h1>
  <div class="report-edit__form-wrapper">

  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
