.wrapper {
  height: calc(100vh - 55px); // Menu height
  margin-top: 55px; // Menu height

  .callout {
    width: 100%;
    position: fixed;
    z-index: 901;
  }
}

.callout .close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2rem;
}

.devise-form {
  display: flex;
  flex-direction: column;

  h2 {
    margin: auto;
    padding: 15px 0;
    font-size: 2rem;
  }

  form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;

    .field {
      width: 100%;
    }
  }

  a {
    margin-top: 15px;
  }
}

@media (max-width: 1024px) {
  .devise-form {
    h2 {
      font-size: 1.5rem;
    }

    form {
      width: 75%;
    }
  }
}
