.wrapper {
  height: calc(100vh - 55px); // Menu height
  margin-top: 55px; // Menu height

  .callout {
    width: 100%;
    position: fixed;
    z-index: 901;
  }
}

.callout .close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2rem;
}

.devise-form {
  h2 {
    width: fit-content;
    margin: auto;
    padding: 15px 0;
    font-size: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    width: fit-content;

    .field {
      width: 100%;
    }
  }

  a {
    margin-top: 15px;
  }
}
