<div class="card">
    <img src="<%= image_tag @tracer.photo.url %>">
    <div class="card-divider">
        <%= tracer.name %>
    </div>
    <div class="card-section">
        <%= tracer.description %>
    </div>
</div>