<div class="page-container">
    <h1>Description du projet</h1>
    <h2>Les impacts de la pollution plastique</h2>
    <p>8 millions de tonnes de plastiques sont déversés dans les océans chaque année. Dommages sur les habitants, perturbateurs
        endocriniens, blessures, décès d’animaux marins par ingestion ou étranglement, ces pollutions massives entraînent
        des pertes économiques majeures (baisse du tourisme, impacts sur les pêches…).</p>

    <p>80% des déchets retrouvés sur le littoral proviennent du continent par les rivières, les eaux pluviales. Le reste provient
        du trafic maritime et des activités en mer. On estime à 10 000 le nombre de conteneurs perdus en mer par an au niveau
        mondial.
    </p>

    <p>Pertes économiques (baisse tourisme), dommages sur les habitats marins, blessures ou décès d’animaux marins par ingestion
        ou étranglement. Des problèmes pour la navigation, déplacement d'espèces marines qui s'accroche aux déchets (<a href="https://marinedebris.noaa.gov/discover-issue/impactsn">www.marinedebris.noaa.gov</a>).</p>

    <h2>Le rôle des traceurs</h2>

    <p>Parmi les pollutions plastiques, certains déchets racontent une histoire et permettent de suivre leur propagation au
        gré des courants et des tempêtes. Ces traceurs permettent de qualifier et de quantifier une pollution provenant soit
        de conteneurs perdus en mer soit de déversements accidentels en milieu naturel. Avec plus de 150 navires qui passent
        tous les jours dans le rail d’Ouessant, la zone Atlantique est un observatoire unique de ces traceurs.
    </p>

    <h2>Technologie</h2>
    <p>Le code est publié sous licence Open Source MIT sur GitHub : Les contributeurs au code : Pierre Charpentier / Marc Douchement
        / Franck Kerbiriou</p>
</div>