<div class="page-container">
    <h1>ANSEL & co</h1>
    <p>L’association ANSEL sensibilise aux échouages de déchets sur le littoral depuis 17 ans. Après avoir lancé le Réseau d’Observation
        d'Échouages de Déchets en Atlantique en 2014, le besoin d’une cartographie devient évident pour suivre les nombreuses
        observations collectées. Les premières réflexions avec le fonds Explore de Roland Jourdain sur ce projet de carto
        se concrétise lors du Ocean Hackathon de Brest en octobre 2016. A cette occasion Pierre Charpentier, Franck Kerbiriou,
        Marc Douchement et Caroline Geisert développent en 48h la première version de la cartographie.
    </p>

    <h2>Contacts</h2>
    <p>Ansel asso 29900 Concarneau</p>
    <p>Réseau d’observation d’échouage de déchets en atlantique, Facebook.</p>
</div>