<div class="page-container">
    <h2>Mentions légales</h2>
    <p>L’association ANSEL est producteur de la base de donnée issue des observations. Les données que vous communiquez seront
        exploitées exclusivement dans le cadre des objectif de ce projet. Les photos communiquées sont sous la responsabilité
        du producteur et sont temporairement stockées pour la validation des relevés. En communiquant la photographie pour
        la réalisation de ce projet, le producteur cède les droits d’utilisation au profit de la plateforme.</p>
    <p>Conformément à la loi "informatique et libertés" du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès et de
        rectification aux informations qui vous concernent. Si vous souhaitez exercer ce droit et obtenir communication des
        informations vous concernant, veuillez vous adresser à l’association ANSEL.
    </p>
</div>