<div class="page-container">
    <h1>Liens utiles</h1>
    <ul>
        <li>Mammifères et oiseaux échoués <a href="http://crmm.univ-lr.fr/index.php/fr/reseau-national-echouages" target="_blank">Réseau Pélagis</a></li>
        <li>Méduses échouées <a href="http://www.mer-littoral.org/formulaire-meduses.php" target="_blank">Réseau “Mer et Littoral”</a></li>
        <li>Bloom planctonique <a href="http://www.phenomer.org/" target="_blank">Phenomer</a></li>
        <li>Hydrocarbures et explosifs : appeler les pompiers</li>
    </ul>
</div>
