<div class="page-container">
    <h1>Sécurité</h1>
    <h2>Préservez la nature !</h2>
    <p>Faire attention à la laisse de mer, aux zones protégées pendant vos ramassages.</p>
    <h2>Protégez-vous !</h2>
    <p>Porter des gants, ne pas vider les contenants de leurs contenu (on ne sait pas ce qu’il y a dedans).</p>
    <h2>Explosifs et Hydrocarbures !</h2>
    <p>Ne surtout pas manipuler l’engin suspect et/ou explosif. Éventuellement mettre en place un système de protection afin que le public ne puisse toucher l’engin. Prévenir le 17 en précisant la taille de l’objet et le lieu exact de la découverte.</p>
    <p>Si vous découvrez des fûts ou des bidons, prévenir les pompiers (18).</p>
    <h2>Attention aux marées !</h2>
    <p>Ce serait dommage de se faire attraper par la marée et de devenir un traceur !</p>
</div>