.traceur-title {
  text-align: center;
  padding-top: 1rem;
}

.tracer-container {
  background-color: inherit;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;

  .card {
    margin: 0.5rem;
    overflow: hidden;

    .title {
      line-height: 3rem;
      font-size: 1.5rem;
      font-weight: 300;
    }

    .description {
      padding: 0.7rem;
      font-weight: 300;
      border-radius: 0 0 2px 2px;
    }

    p {
      margin: 0;
    }

    .report-form {
      border-top: 1px solid rgba(160, 160, 160, 0.2);
      padding: 0.7rem;
    }

    a {
      color: red;
      transition: color 0.3s ease;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 0.8rem;
      word-wrap: break-word;
    }

    .image {
      position: relative;

      .title {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1.3rem;
        color: #fff;
      }

      img {
        border-radius: 2px 2px 0 0;
      }
    }
  }
}
