<% if flash.present? %>
  <% if flash.first[0] == 'success' %>
  <div class="<%= flash.first[0] %> callout" data-closable><%= "#{flash.first[1]}" %></div>
  <% else %>
  <div class="<%= flash.first[0] %> callout" data-closable><%= "#{flash.first[1].flatten.join(' ')}" %></div>
  <% end %>
<% end %>
