<% if flash.present? %>
<div class="<%= flash.keys.first %> callout" data-closable>
  <% if flash.keys.first == 'success' %>
  <%= "#{flash['success'][1]}" %>
  <% else %>
  <%= "#{flash['alert'].flatten.join(' ')}" %>
  <% end %>
</div>
<% end %>
