<div class="off-canvas position-left" id="menu" data-off-canvas>
    <h1>Mersea</h1>

    <!-- Close button -->
    <button class="menu-close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true"><i class="fi-x"></i></span>
    </button>

    <!-- Menu -->
    <ul class="vertical menu">
        <li>
            <%= link_to_unless_current('Carte', controller: 'pages', action: 'index') %>
        </li>
        <li>
            <%= link_to_unless_current('Traceurs', controller: 'tracers', action: 'index') %>
        </li>

        <% @pages.each do |page| %>
          <li>
              <%= link_to_unless_current(page.name, controller: 'pages', action: 'show', id: page.id) %>
          </li>
        <% end %>
    </ul>
</div>
