<div class="off-canvas position-left" id="menu" data-off-canvas>

    <!-- Close button -->
    <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>

    <!-- Menu -->
    <ul class="vertical menu">
        <li><a href="#">Carte</a></li>
        <li><a href="http://www.assoansel.com/">ANSEL</a></li>
    </ul>

</div>